body {
  background-color: #ebebfe; }
  body p {
    margin: 0 0 0 15px;
    display: inline-block; }
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: auto; }
    body .container .form {
      width: 80%;
      height: auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); }
      body .container .form .form__add {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px; }
        body .container .form .form__add .form-control {
          width: 70%;
          padding: 10px;
          height: 30px;
          margin: 10px; }
        body .container .form .form__add .btn {
          display: flex;
          align-items: center;
          height: 30px;
          padding: 15px;
          border: none;
          outline: none;
          background-color: #5431d4; }
      body .container .form .box {
        border-top: 1px solid #eee;
        margin: 10px;
        height: 60vh; }
        body .container .form .box .ul-list {
          margin: 20px; }
          body .container .form .box .ul-list .list-items {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px; }
            body .container .form .box .ul-list .list-items .icon {
              text-decoration: none;
              color: #3e0480;
              border-radius: 50%;
              padding: 0 7px;
              box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); }
              body .container .form .box .ul-list .list-items .icon:hover {
                cursor: pointer; }
